{% extends 'base.html' %}

{% block content %}

<section>
  <div class="container">
    <div class="row">
      <div id="server-message" class="col-12">

      </div>
    </div>
  <div class="row">
    <div class="col-lg-6 border">
      <h1>Place screenshots!</h1>
      <div class="bd-example">
        <svg class="bd-placeholder-img bd-placeholder-img-lg img-fluid"
              width="100%" height="250" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Responsive image" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#868e96"/><text x="50%" y="50%" fill="#dee2e6" dy=".3em">Responsive image</text></svg>
        </div>
    </div>
    <div class="col-lg-6 border">
      <h1>Place product details</h1>
      <h2> {{ object.title }} </h2>
      <p> {{ object.description }} </p>

      <button hx-post="{{ object.add_to_cart_url }}" hx-target="#server-message"
       hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}' type="submit" name="button">Add to cart</button>

    </div>
  </div>
</div>

</section>


{% endblock%}
