{% extends 'base.html' %}

{% block content %}

<section id="xlsx-product">
  <div class="container">
  <div class="row">
    <div class="col-lg-6 border">
      <h1>Place screenshots!</h1>
      <div class="bd-example">
        <svg class="bd-placeholder-img bd-placeholder-img-lg img-fluid"
              width="100%" height="250" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Responsive image" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#868e96"/><text x="50%" y="50%" fill="#dee2e6" dy=".3em">Responsive image</text></svg>
        </div>
    </div>
    <div class="col-lg-6 border">
      <h1>Place product details</h1>
      <h2> {{ object.title }} </h2>
      <p> {{ object.description }} </p>
    <form action="{{ object.buy_product_url }}" method="post">
      {% csrf_token %}
      <button type="submit" id="checkout-button">Checkout</button>
    </form>


    <button type="button" id="checkout-button">Checkout</button>


    <form id="payment-form">
      <input type="text" id="email" placeholder="Email address" />
      <div id="card-element"><!--Stripe.js injects the Card Element--></div>
      <button id="submit">
        <div class="spinner hidden" id="spinner"></div>
        <span id="button-text">Pay</span>
      </button>
      <p id="card-error" role="alert"></p>
      <p class="result-message hidden">
        Payment succeeded, see the result in your
        <a href="" target="_blank">Stripe dashboard.</a> Refresh the page to pay again.
      </p>
    </form>

    </div>
  </div>
</div>

</section>


{% endblock%}
