{% extends 'base.html' %}

{% block content %}

  <!-- Listing -->
<section id="listing" class="py-4">
  <div class="container">
    <a href="#" class="btn btn-light mb-4">Back To Listings</a>
    <div class="row">
      <div class="col-md-9">
        <!-- Home Main Image -->
        <img src="{{ object.photo_main.url }}" alt="" class="img-main img-fluid mb-3">
        <!-- Thumbnails -->
        <div class="row mb-5 thumbs">
          {% if listing.photo_1 %}
          <div class="col-md-2">
            <a href="{{ object.photo_1.url }}" data-lightbox="home-images">
              <img src="{{ object.photo_1.url }}" alt="" class="img-fluid">
            </a>
          </div>
          {% endif %}
          {% if listing.photo_2 %}
          <div class="col-md-2">
            <a href="{{ object.photo_2.url }}" data-lightbox="home-images">
              <img src="{{ object.photo_2.url }}" alt="" class="img-fluid">
            </a>
          </div>
          {% endif %}
          {% if listing.photo_3 %}
          <div class="col-md-2">
            <a href="{{ object.photo_3.url }}" data-lightbox="home-images">
              <img src="{{ object.photo_3.url }}" alt="" class="img-fluid">
            </a>
          </div>
          {% endif %}
          {% if listing.photo_4 %}
          <div class="col-md-2">
            <a href="{{ object.photo_4.url }}" data-lightbox="home-images">
              <img src="{{ object.photo_4.url }}" alt="" class="img-fluid">
            </a>
          </div>
          {% endif %}
          {% if listing.photo_5 %}
          <div class="col-md-2">
            <a href="{{ object.photo_5.url }}" data-lightbox="home-images">
              <img src="{{ object.photo_5.url }}" alt="" class="img-fluid">
            </a>
          </div>
          {% endif %}
          {% if listing.photo_6 %}
          <div class="col-md-2">
            <a href="{{ object.photo_6.url }}" data-lightbox="home-images">
              <img src="{{ object.photo_6.url }}" alt="" class="img-fluid">
            </a>
          </div>
          {% endif %}
        </div>
        <!-- Fields -->
        <div class="row mb-5 fields">
          <div class="col-md-6">
            <ul class="list-group list-group-flush">
              <li class="list-group-item text-secondary">
                <i class="fas fa-money-bill-alt"></i> Asking Price:
                <span class="float-right"> object.price </span>
              </li>
              <li class="list-group-item text-secondary">
                <i class="fas fa-bed"></i> Bedrooms:
                <span class="float-right"> object.bedrooms </span>
              </li>
              <li class="list-group-item text-secondary">
                <i class="fas fa-bath"></i> Bathrooms:
                <span class="float-right"> object.bathrooms </span>
              </li>
              <li class="list-group-item text-secondary">
                <i class="fas fa-car"></i> Garage:
                <span class="float-right"> object.garage
                </span>
              </li>
            </ul>
          </div>
          <div class="col-md-6">
            <ul class="list-group list-group-flush">
              <li class="list-group-item text-secondary">
                <i class="fas fa-th-large"></i> Square Feet:
                <span class="float-right"> object.sqft </span>
              </li>
              <li class="list-group-item text-secondary">
                <i class="fas fa-square"></i> Lot Size:
                <span class="float-right"> object.lot_size  Acres
                </span>
              </li>
              <li class="list-group-item text-secondary">
                <i class="fas fa-calendar"></i> Listing Date:
                <span class="float-right"> bject.list_date </span>
              </li>
              <li class="list-group-item text-secondary">
                <i class="fas fa-bed"></i> Realtor:
                <span class="float-right"> object.realtor
                </span>
              </li>


            </ul>
          </div>
        </div>

        <!-- Description -->
        <div class="row mb-5">
          <div class="col-md-12">
               object.description
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card mb-3">
          <img class="card-img-top" src="{{ object.realtor.photo.url }}" alt="">
          <div class="card-body">
            <h5 class="card-title">Property Realtor</h5>
            <h6 class="text-secondary">object.realtor </h6>
          </div>
        </div>
        <button class="btn-primary btn-block btn-lg" data-toggle="modal" data-target="#inquiryModal">Make An Inquiry</button>
      </div>
    </div>
  </div>
</section>


{% endblock%}
