{% extends 'base.html' %}

{% block content %}
<div class="row">

    <div class="col-6">
      <div class="p-3 border bg-light">Row column
        <img src="https://bit.ly/2ZTpUht" class="img-fluid" alt="...">
      </div>

        <div class="row row-cols-3">

          <div class="col g-2">
            <img src="https://bit.ly/2ZTpUht" class="img-fluid" alt="...">
          </div>

          <div class="col g-2">
            <img src="https://bit.ly/2ZTpUht" class="img-fluid" alt="...">
          </div>

          <div class="col g-2">
            <img src="https://bit.ly/2ZTpUht" class="img-fluid" alt="...">
          </div>

          <div class="col g-2">
            <img src="https://bit.ly/2ZTpUht" class="img-fluid" alt="...">
          </div>

        </div>
    </div>

    <div class="col-6">
      <div class="p-3 border bg-light">Row column</div>
    </div>
  </div>


{% endblock%}
